.header {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    margin: 0 px;
    padding: 0 px;
    background: #EEEEEE;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    
  
  }

  .header2 {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    margin: 0 px;
    padding: 0 px;
    background:white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    
  
  }

  .dropdown {
width: 150px;

}

  .title {
   background: #FFFFFF;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    font-size: 130%;
    padding: 0%;
    font-weight: bold;
  
  }
.title2 {
    background: #FFFFFF;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    font-size: 150%;
    padding: 1%;
    font-weight: bold;
}

  .main {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    margin: 0;
    padding: 3px;
    background: #FFFFFF;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
  
  .nav__list {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    column-gap: 0.1%;
    padding: 0%;
    font-size: 100%;
    list-style-type: none;
    justify-content: center;
    margin-left: auto;
  }

  .nav__list2 {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    row-gap: 14px;
    padding: 0%;
    font-size: 100%;
    list-style-type: none;
    justify-content: center;
    margin-left: auto;
  }
  
  .nav__buttons:hover {
    background-color: #FFFFFF;
    color: black;
   }
  
  .nav__buttons {
    border-radius: 25px;
    color:black;
    text-decoration:none;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 3px;
    align-items: center;
  }
  .nav__buttons2 {
    color:black;
    text-decoration:none;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 3px;
    align-items: center;
  }
  a {
    color:black;
    text-decoration:none;
    text-align: center;
  }

.table {
  margin-left:auto; 
  margin-right:auto;
  padding: 2%;
}
.table__buttons  {
  color:black;
  text-decoration:none;
  border: 1px solid #000000;
  padding: 8px;
  background: #E5E5E5;
}


.T1 {
  text-align: center;
}

.button {
  display:inline-block; 
  margin-left: 485px

}

.button4 {
  display:inline-block; 
  margin-left: 0px

}



.button3 {
  display:inline-block; 
  margin-left: 685px
}

@media screen and (max-width: 737px) {
  .button {
    display:inline-block; 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 737px) {
  .button3 {
    display:inline-block; 
    margin-left: 20px;
    margin-right: 20px;
  }
}


.label { 
  display:inline-block; 
  }

.group{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;

  }
.table.center { 
    margin-left:auto; 
    margin-right:auto; 

  }

table, th, td {
      border: 1px solid black;
      padding: 7px;
    }

.li {
 display: inline;
}

.Reports {
  margin-left:auto; 
    margin-right:auto; 
    margin-top: 50px;
}

.table__buttons:hover {
  background-color: #FFFFFF;
  color: black;
 }

.label__text {
padding: 1%;
color: black;
}
* {
  font-family: Arial, Helvetica, sans-serif;
 }
 .form__add {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  width: 0%;
  justify-content: center;
  margin:auto;
  margin-bottom: 15px;
 }
 .request-menu {
  list-style-type: none;
  text-align: center;
 }
 .request-menu__buttons {
  text-decoration:none;
  display: block;
  background-color: #E5E5E5;
  color: black;
  width: auto;
  padding: 1.5%;
  text-align: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
 }
 .request-menu__buttons:hover {
  background-color: white;
  color: black;
 }